.page-header
  %h1
    = @league.name
    %small
      New Team

= bootstrap_form_for(:team, :url => league_teams_path(@league)) do |f|
  = f.text_field :name, :placeholder => "The name of the team"
  = f.text_field :manager_email_address, :placeholder => "Email for team manager", :type => :email

  = f.actions
