.page-header
  %h1
    = @team.name
    %small
      = breadcrumb_sep
      %a{:href => league_path(@team.league)}
        = @team.league.name

%table.table.table-striped.table-bordered
  - if @team.games.empty?
    %tr
      %td
        %h3.text-center No Games

  - @team.games.each do |game|
    %tr
      %td
        = game.id

.pull-right
  %a.btn.btn-primary{:href => new_team_member_path(@team)} Add Player
%h2
  Players

%table.table.table-striped.table-bordered
  %tr
    %th &nbsp;
    %th &nbsp;
    %th.text-center &nbsp;
  - @team.managers.each do |manager|
    %tr
      %td
        %em (Manager)
      %td= manager.email
      %td.text-center
        - if manager.pending?
          = bootstrap_form_for :manager, :remote => true, :url => resend_invitation_path(manager), :method => :post do |f|
            = f.submit "Resend Manager Invitation", :class => "btn btn-small"
  - @team.players.each do |player|
    %tr
      %td= player.name
      %td= player.account.email
      %td.text-center
        - if player.account.pending?
          = bootstrap_form_for :player, :remote => true, :url => resend_invitation_path(player.account), :method => :post do |f|
            = f.submit "Resend Invitation", :class => "btn btn-small"
