.page-header
  %h1
    New Game
    %small
      = breadcrumb_sep
      %a{:href => league_games_path(@league)}
        Games
      = breadcrumb_sep
      %a{:href => league_path(@league)}
        = @league.name

= bootstrap_form_for(:game, :url => league_games_path(:league_id => @league.id)) do |f|
  = f.select(:location, @league.locations.collect {|l| [l.name, l.id]}, {:include_blank => true})
  = f.select(:home, @league.teams.collect {|t| [t.name, t.id]},{ :include_blank => true})
  = f.select(:away, @league.teams.collect {|t| [t.name, t.id]},{ :include_blank => true})
  = f.text_field :start_time, 'data-behavior' => 'datetimepicker'

  = f.actions do
    = [f.submit("Create Game"), f.cancel].join(" ").html_safe
