.page-header
  .pull-right
    %a.btn{:href => edit_league_path(@league)} Edit League
  %h1
    = @league.name
    %small
      = breadcrumb_sep
      = l @league.start_date, :format => :short
      = " - "
      = l @league.end_date, :format => :long

.pull-right

  %a.btn.btn-primary{:href => league_locations_path(@league)} Locations

  %a.btn.btn-primary{:href => league_schedule_path(@league)} Schedule

  %a.btn.btn-primary{:href => new_league_team_path(@league)} Teams

%h2 Standings
%table.table.table-striped.table-bordered
  %tr
    %th &nbsp;
    %th Name
    %th Points
  - standings = @league.standings
  - if standings.empty?
    %tr
      %th{:colspan=>3}
        %h3.text-center
          No Games
  - standings.each_with_index do |standing, i|
    %tr
      %td= i + 1
      %td= standing.team.name
      %td= standing.points

= display_message_board(@league)

.clearfix

.pull-right
%h2
  Schedule
%table.table.table-striped.table-bordered
  %tr
    %th &nbsp;
  - if @league.games.empty?
    %tr
      %th{:colspan=>3}
        %h3.text-center
          No Games
  - else
    %tr
      %td Schedule

%h2
  Teams
%table.table.table-striped.table-bordered
  %tr
    %th &nbsp;
  - if @league.teams.empty?
    %tr
      %th{:colspan=>3}
        %h3.text-center
          No Teams
  - else
    - @league.teams.sort_by {|team| team.name }.each do |team|
      %tr
        %td
          %a{:href => team_path(team)}= team.name
