.page-header
  .pull-right
    %a.btn{:href => edit_league_path(@league)} Edit League
  %h1
    = @league.name
    %small
      = breadcrumb_sep
      = l @league.start_date, :format => :short
      = " - "
      = l @league.end_date, :format => :long

.pull-right
  %a.btn.btn-primary{:href => league_locations_path(@league)} Locations
  %a.btn.btn-primary{:href => league_games_path(@league)} Games
  %a.btn.btn-primary{:href => league_teams_path(@league)} Teams

.clearfix

= display_message_board(@league)

%h2 Standings
%table.table.table-striped.table-bordered
  %tr
    %th &nbsp;
    %th Name
    %th Points
  - standings = @league.standings
  - if standings.empty?
    %tr
      %th{:colspan=>3}
        %h3.text-center
          No Games
  - standings.each_with_index do |standing, i|
    %tr
      %td= i + 1
      %td= standing.team.name
      %td= standing.points
