.page-header
  %h1
    Locations
    %small
      = breadcrumb_sep
      %a{:href => league_path(@league)}
        = @league.name

%h2 Locations
%table.table.table-bordered.table-striped
  %tr
    %th{:colspan => 2} Name

  - if @league.locations.empty?
    %tr
      %td{:colspan => 2}
        %h3.text-center
          No Locations

  - @league.locations.each do |location|
    %tr
      %td
        %a{:href => league_location_path(@league,location)}
          %label= location.name
      %td
        = bootstrap_form_for @location, :method => :delete, :url => league_location_path(:league_id => @league.id, :id => location.id) do |f|
          = f.hidden_field_tag :location_id, location.id
          = f.submit("X")

.pull-right
  %a.btn.btn-primary{:href => new_location_path(:league_id => @league.id)} New Location

%h2 Add Locations
= bootstrap_form_for :league_location, :method => :post,   :url => league_locations_path(@league) do |f|
  = f.collection_select :location_id, @locations, :id, :name
  = f.actions do
    = [f.submit("Add Location")].join(" ").html_safe
