%h2 Get Onboard!

- if !@description.blank?
  = render @description

= bootstrap_form_for(@account, :method => :post, :url => onboard_account_path(:token => @token, :account_id => @account.id)) do |f|

  = f.hidden_field_tag :destination, @destination
  = f.hidden_field_tag :description, @description
  = f.password_field :password

  = f.password_field :password_confirmation

  = f.submit "Sign up"
