%h2 Get Onboard!

- if !@description.blank?
  = render @description

= bootstrap_form_for(@user, :method => :post, :url => onboard_user_path(:token => @token, :user_id => @user.id)) do |f|

  = f.hidden_field_tag :destination, @destination
  = f.hidden_field_tag :description, @description
  = f.password_field :password

  = f.password_field :password_confirmation

  = f.submit "Sign up"
